Repository portone-io/react-native-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: pnpm exec eslint {staged_files}

types:
  run: pnpm exec tsc -p tsconfig.json

ci: use trusted publisher
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: open url for gcash https link
  .changeset/pre.json
  .changeset/purple-feet-doubt.md
  src/SdkDelegate.tsx
Due: lint

fix: use strict equality
  src/SdkDelegate.tsx
Due: lint

fix: exit pre
  .changeset/pre.json
Due: none

fix: open url for gcash https link (#38)
  .changeset/purple-feet-doubt.md
  src/SdkDelegate.tsx
Due: lint

fix: use deep link specific logic
  README.md
  src/SdkDelegate.tsx
  src/appScheme.ts
Due: lint, types

chore: bump version
  .changeset/purple-feet-doubt.md
  CHANGELOG.md
  package.json
Due: none

docs: update app links
  .changeset/tender-horses-repair.md
  README.md
Due: none

fix: cleanup app schemes and plugin
  .changeset/clever-pumpkins-sit.md
  README.md
  src/SdkDelegate.tsx
  src/appScheme.ts
  src/plugin.ts
Due: lint, types

ci: add pull request permission to release
  .github/workflows/release.yml
Due: none

fix: sdkDelegate의 타입을 실제로직과 같게 정리합니다
  src/SdkDelegate.tsx
Due: lint

chore: add changeset
  .changeset/metal-dragons-destroy.md
Due: none

ci: audit with zizmor
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: remove openUrlSameTask
  README.md
  package.json
  pnpm-lock.yaml
  src/SdkDelegate.tsx
Due: lint

chore: add changeset
  .changeset/smooth-wombats-drop.md
Due: none

feat: drop expo-intent-launcher (#41)
  .changeset/smooth-wombats-drop.md
  README.md
  package.json
  pnpm-lock.yaml
  src/SdkDelegate.tsx
Due: lint

chore: node 18 -> 24
  .nvmrc
Due: none

chore: pnpm 10 -> 11
  package.json
Due: none

ci: frozen-lockfile 적용
  .github/workflows/ci.yml
  .github/workflows/release.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

프로젝트 환경 개선 (#44)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .nvmrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
